<div >
  <div style="text-align:center">
    <h1>{{ title }}</h1>
  </div>

  <div style="margin: 20px;">
    <div [hidden]="!dataSource || dataSource.length === 0">
      <div class="box">
        <div class="center">
          <mat-form-field appearance="outline" class="financial-reports-input">
            <mat-label>Show data for:</mat-label>
            <mat-select placeholder="Show data for:" [(ngModel)]="selectedCity" (selectionChange)="onFilterChange($event.value)">
              <mat-option *ngFor="let city of allCities" [value]="city">{{ city }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-table #table [dataSource]="dataSource" matSort>
    
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="temp">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Temperature (&deg;C)</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.temp}} </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="humidity">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Humidity (%)</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.humidity}} </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="speed">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Wind speed (meter/sec)</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.speed}} </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="weather">
              <mat-header-cell *matHeaderCellDef>Weather</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.weather}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        
          <mat-paginator #paginator
                         [pageSize]="paginatorDefault"
                         [pageSizeOptions]="[5, 10, 20]"
          >
          </mat-paginator>
        </div>
      </div>

      <div class="box">
        <h4 style="text-align:center">Average temperature: {{meanTemperature}}&deg;C</h4>
        <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
    </div>
    </div>
  </div>
  
</div>
